---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Contactform from "@components/contactform.astro";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc">Got Questions? Get in touch!</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contact JMB Floors</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Ready to discuss your flooring needs? We're just a call away. Reach out to us directly to schedule an appointment or consultation.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <!-- Removed the address div -->
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:contact@jmbfloors.com">contact@jmbfloors.com</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              href="tel:+447468607243">+44 7468 607243</a
            >
          </div>
        </div>
      </div>
      <div class="bg-slate-100 p-5 md:p-8 rounded-xl mb-5">
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
