---
// @ts-ignore
import Badge from "@components/ui/badge.astro";
import { Icon } from "astro-icon";

const features = [
  {
    title: "Office Fit Out",
    description:
      "Comprehensive flooring solutions for office renovations and fit-outs.",
    icon: "fluent:document-javascript-24-regular",
  },
  {
    title: "Commercial Building",
    description:
      "Specializing in large-scale flooring installations for commercial buildings.",
    icon: "fluent:trophy-24-regular",
  },
  {
    title: "Shop Fit Out",
    description:
      "Delivering custom flooring designs for retail shops and boutiques.",
    icon: "fluent:box-24-regular",
  },
  {
    title: "Architectural Services",
    description:
      "Collaborating with architects to create bespoke flooring solutions for unique spaces.",
    icon: "fluent:box-multiple-24-regular",
  },
  {
    title: "CHAS Certified",
    description:
      "Certified by the Contractors Health and Safety Assessment Scheme, ensuring top-notch safety standards in all our projects.",
    icon: "fluent:book-search-24-regular",
  },
  {
    title: "Community",
    description:
      "JMB Floors is an open project powered by a dedicated team making thousands of individual contributions.",
    icon: "fluent:people-community-24-regular",
  },
];
---

<div class="mt-24 max-w-3xl mx-auto flex flex-col items-center justify-center">
  <Badge color="purple">OUR SERVICES</Badge>
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
    JMB Floors - Your Trusted Partner
  </h2>
  <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">
    We offer a diverse range of high-quality flooring services tailored to meet the unique needs of businesses across London.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-8 md:gap-16">
  {
    features.map((item) => (
      <div class="flex flex-col gap-4 items-start group hover:bg-slate-50 hover:border-slate-100 border border-transparent rounded-lg transition-all md:-m-5 p-5">
        <div class="mt-1 bg-indigo-50 border shadow shadow-indigo-100/50 border-indigo-100 transition-colors rounded-lg grid place-items-center  p-2 w-10 h-10 shrink-0">
          <Icon class="text-indigo-500" name={item.icon} size="24" />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
