---
import { Image, Picture } from "astro:assets";
import heroImage from "../assets/hero-screenshot.png";
import Link from "@components/ui/link.astro";
import Container from "@components/container.astro";
---

<div class="overflow-x-clip">
  <Container>
    <main class="grid lg:grid-cols-5 place-items-center relative">
      <div
        class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-200 right-0 top-0">
      </div>
      <div
        class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-200 right-56 top-10">
      </div>

      <div class="max-w-sm md:max-w-max lg:col-span-2">
        <h1
          class="text-3xl lg:text-4xl xl:text-6xl font-bold lg:tracking-tight xl:tracking-tighter [text-wrap:balance] text-center lg:text-start">
          Create websites with Astroship™
        </h1>
        <p
          class="text-lg mt-4 max-w-lg text-slate-600 [text-wrap:balance] text-center lg:text-start">
          Pro version of popular Astroship starter template made for startups.
          Built with Astro and Tailwind CSS.
        </p>
        <div
          class="mt-6 flex flex-col sm:flex-row sm:justify-center lg:justify-start gap-3">
          <Link
            href="https://web3templates.com/templates/astroship-pro-astro-saas-website-template"
            target="_blank"
            class="flex gap-1 items-center justify-center"
            rel="noopener">
            Buy Template — $39
          </Link>
          <Link
            size="lg"
            style="outline"
            rel="noopener"
            href="https://github.com/surjithctly/astroship"
            class="flex gap-1 items-center justify-center"
            target="_blank">
            Free Version
          </Link>
        </div>
      </div>
      <div class="py-3 lg:col-span-3 lg:-mr-44">
        <Picture
          src={heroImage}
          alt="Astronaut in the air"
          formats={["avif", "webp"]}
          sizes="(max-width: 1024px) 100vw, 50vw"
          widths={[240, 540, 720, heroImage.width]}
          loading="eager"
          fetchpriority="high"
        />
      </div>
    </main>
  </Container>
</div>
